:root {
    --primary-color: #5d4d63;
    --secondary-color: #f2ebf5;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h3 {
    margin-bottom: 30px;
}
h2, h3 {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-family: 'Playfair Display', serif;
}

body {
    background: linear-gradient(to top, #6c6270 0%, #f6f3ff 100%);
}

.hero {
    background: #d4cad9;
    text-align: center;
    max-width: 70%;
    display: block;
    margin: auto;
}

.primary-link {
    padding: 20px;
    border-radius: 15px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    text-decoration: none;
}
.scroll-up {
    display: block;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    text-decoration: none;

}
.scroll-up:hover {
    opacity: 0.7;
    color: var(--secondary-color);
}
.secondary-link {
    padding: 20px;
    border-radius: 15px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    text-decoration: none;
}

.primary-link:hover {
    opacity: 0.7;
    color: var(--secondary-color);
}
.secondary-link:hover {
    opacity: 0.7;
    color: var(--primary-color);
}

.contactlink {
    padding: 10px;
    border-radius: 25px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    text-decoration: none;
}